<footer class="bg-gray-900 text-gray-300 py-10 px-6 "
[ngStyle]="{ 'background-color': (color$ | async)?.primaryColor }">
  <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-8">
    
    <div>
      <h2 class="text-xl font-semibold mb-4 text-white">EnduranceRacer</h2>
      <p class="text-sm">
        Le hub ultime pour les voitures d’endurance : saisons WEC & modèles historiques.
      </p>
    </div>

    <div>
      <h3 class="text-lg font-semibold mb-4 text-white">Navigation</h3>
      <ul class="space-y-2">
        <li *ngFor="let link of links">
          <a
            (mouseenter)="hoveredLink = link"
            (mouseleave)="hoveredLink = null"
            [routerLink]="link.path"
            class="relative inline-block cursor-pointer group"
          >
            <span
              [ngStyle]="{
                color: hoveredLink === link
                ? (color$ | async)?.secondaryColor: '#ffffff'
          }"
              class="group-hover:text-red-500 transition">
              {{ link.label }}
            </span>
            <span
              class="absolute left-0 bottom-0 h-0.5 w-0 bg-red-500
                     transition-all duration-300 group-hover:w-full"
              [ngStyle]="{
                'background-color': (color$ | async)?.secondaryColor,
                width: hoveredLink === link ? '100%' : '0'
              }"
            ></span>
          </a>
        </li>
      </ul>
    </div>

    <div>
      <h3 class="text-lg font-semibold mb-4 text-white">Contact</h3>
      <p class="text-sm">contact&#64;enduranceracer.dev</p>
      <p class="text-sm">Lyon, France</p>
    </div>
  </div>

  <div class="mt-10 border-t border-gray-300 pt-4 text-center text-sm">
    © 2025 EnduranceRacer. Tous droits réservés.
  </div>
</footer>
