<!-- Section Bannière -->
<section class="relative -mt-16 w-full h-64 md:h-228 overflow-hidden ">
  <!-- Image de bannière -->
  <img
    [src]="bannerUrl"
    alt="Bannière Pitlane Heritage"
    class="w-full h-full object-cover"
  />
  <!-- Overlay sombre pour meilleur contraste du texte -->
  <div class="absolute inset-0 bg-black opacity-75 "></div>
  <!-- Texte par-dessus la bannière -->
  <div class="absolute top-1/4 left-8 max-w-4xl text-white">
    <h1 class=" font-bold italic text-4xl md:text-6xl leading-tight">
      BIENVENUE SUR <br />
      <span class="orbitron">{{title}}
      </span><br/>
      <p class="text-2xl">powered by yanzooz</p>
      
    </h1>
  </div>

  <div class="absolute bottom-0 right-0 flex">
    <a routerLink="/seasons" class="flex px-12 py-4 opacity-75 bg-red-600 hover:bg-red-500 hover:opacity-100 text-white text-4xl font-semibold uppercase italic text-center transition duration300">
      Seasons
    </a>
    <a routerLink="/historic" class="flex px-12 py-4 opacity-75 bg-gray-900 hover:bg-gray-700 hover:opacity-100 text-white text-4xl font-semibold uppercase italic text-center transition duration-300">
      Historic
    </a>
  </div>

  <!-- Flèche de scroll en bas-centre -->
  <div class="absolute bottom-4 left-1/2 transform -translate-x-1/2">
    <svg class="w-6 h-6 text-white animate-bounce" fill="none" stroke="currentColor" stroke-width="2"
         viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
      <path d="M19 9l-7 7-7-7" />
    </svg>
  </div>
</section>

<!-- Section Présentation rapide -->
<section class="py-16 px-6 bg-gray-100 text-gray-800">
  <div class="max-w-4xl mx-auto text-center space-y-6">
    <h2 class="text-2xl md:text-3xl font-semibold">Ce que vous trouverez ici</h2>
    <p class="leading-relaxed">
      • Détails saison par saison du Championnat du Monde d’Endurance (WEC)  
      • Galerie des voitures mythiques qui ont écrit la légende  
      • Fiches techniques, images, et profils des pilotes  
      • Actualités et analyses des courses d’endurance  
    </p>
    <a
      routerLink="/seasons"
      class="inline-block bg-red-600 hover:bg-red-500 text-white font-semibold py-3 px-8  transition"
    >
      Voir les saisons WEC
    </a>
  </div>
</section>
